$wrapper-color: #444;
$head_foot-color: #d3d3d3;
$side_border: #c0c0c0;
$table-color: #333;
$font-color: #fff;

@font-face {
  font-family: imported_font;
  src: url("/font/Helvetica.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

main {
  width: 80%;
  max-width: 1280px;
  min-width: 800px;
  margin: auto;
}

header {
  height: 10%;
  width: 100%;
  background-color: $head_foot-color;
  margin: 1% 0;
}

nav {
  .navs {
    padding-top: 5%;
  }
  .left-nav {
    position: relative;
    list-style-type: none;
    padding: 0 10px;

    > li {
      display: inline-block;
      background: grey;

      a {
        color: $font-color;
        display: block;
        padding: 10px 20px;
        text-decoration: none;

        &:hover {
          background-color: #333;
        }
      }
    }

    #li_dropdown {
      &.stayHovered {
        background-color: #333;
      }
    }

    #dropdown {
      display: none;
      position: absolute;
      width: 250px;
      list-style-type: none;
      background-color: #333;
      padding: 5px 10px;

      li {
        border-bottom: 1px $head_foot-color solid;

        &:last-child {
          border-bottom: 0px;
        }

        :hover {
          background: #fff;
          color: #333;
        }
      }

      &.active {
        display: block;
      }
    }
  }

  .right-nav {
    float: right;
    margin-top: 1%;
    padding-right: 10px;

    li {
      display: inline-block;

      a {
        display: block;

        img {
          width: 80%;
        }
      }
    }

    li:hover,
    li.selected {
      opacity: 0.5;
    }
  }
}

.logo {
  position: fixed;
  z-index: 2;
  margin-top: 5%;

  img {
    width: 100px;
    height: 20%;
  }
}

ul.left-nav {
  display: inline-block;
}

.main-wrapper {
  margin-bottom: 1%;
  height: 150vh;

  .main-container {
    background-color: $wrapper-color;
    border: 10px $head_foot-color solid;
    width: 70%;
    float: left;
    color: $font-color;
    padding: 20px;
    height: 150vh;

    h1 {
      font-family: imported_font;
      padding: 10px;
      font-size: 3.5rem;
      font-weight: 500;
    }

    hr {
      border-top: 1px solid black;
      height: 1px;
    }

    p {
      font-weight: 100;
      margin-top: 20px;
    }

    .table {
      position: relative;
      overflow: auto;
      margin-top: 20px;
      height: 400px;

      #table-content {
        background: $table-color;
        th {
          padding: 5px 5px;
          text-align: left;
        }

        td {
          padding: 5px 5px;
          width: 20px;
        }
      }
    }
  }

  .side-container {
    width: 30%;
    float: left;
    padding: 10px;
    background: $wrapper-color;
    border: 10px $side_border solid;
    height: 150vh;

    .forms {
      background: black;

      h3 {
        padding: 10px;
        border-bottom: 1px $head_foot-color solid;

        a {
          font-size: 14px;
          font-weight: 100;
          text-decoration: none;
          color: $head_foot-color;
        }
      }
    }

    p {
      color: $head_foot-color;
      padding: 10px;
      text-align: justify;
      font-size: 12px;
    }

    .toggle {
      display: none;

      &.close {
        display: block;
      }
    }
  }
}

footer {
  // width: 100%;
  color: #444;
  background-color: $head_foot-color;
  height: 30px;

  .left-footer {
    width: 50%;
    position: absolute;
    padding: 10px;
  }

  .right-footer {
    width: 50%;
    float: right;
    text-align: right;
    padding: 10px;

    a {
      padding-right: 5px;
    }
  }
}
